{% extends "base.twig" %}
{% use "html-head.twig" %}

{% block content %}
	{% set slides = [{
		'image': TimberImage(post.tertiary_banner_image),
		'image_position': 'right',
		'flair_has_flair': false,
		'title': '',
		'title_weight': '2',
		'title_color': '',
		'content': '',
		'content_color': '',
		'has_button': false,
	}] %}

	{% include 'organisms/hero.twig' with {
		'moduleClasses': 'hero--thin',
		'slider': slides
	}%}
	
	<div class="bg--grey-light--logo page-tertiary">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>{{post.title}}</h1>
					{{post.content}}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

