<div class="christmas__menus__menu {% if active %}active{% endif %}" data-christmas-menu="{{id}}">
	<div class="christmas__menus__menu__inner">
		<div class="christmas__menus__menu__heading">
			<p>{{title}}</p>
		</div>
		
		<div class="christmas__menus__menu__container">

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Drinks Packages</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Caribbean Cosmo Tree</strong>
						</div>
						<p>10 of our Caribbean Cosmo cocktails, served beautifully on intricate branches. Cameras at the ready!</p>
					</div> #}
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Perfect G&amp;Tree</strong>
						</div>
						<p>10 of our Perfect Gin &amp; Tonics, served straight to your table.The tree includes 5 Slingsby Rhubarb and 5 Portobello Road G&amp;Ts</p>
					</div> #}
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cocktail Tree</strong>
						</div>
						<p>10 of our cocktails, served beautifully on intricate branches. Choose from either our Caribbean Cosmo or our Festive G&amp;Tree. Cameras at the ready!</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cocktail Voucher</strong>
						</div>
						<p>Choose from any cocktail, double house spirit and mixer, bottled or draught beer and cider, large glass of wine or soft drink</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Bottles of Wine</strong>
						</div>
						<p>Wines that are available include:<br/> Los Romeros, Chardonnay, Chile</br> Altoritas, Merlot, Chile<br/> Lavender Hill, White Zinfandel, USA</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cocktail Wristbands</strong>
						</div>
						<p>Can’t decide? Swap the 3 tabs on your wristband for drinks at the bar! Wristbands include cocktails, bottled or draught beer and cider, large glasses of wine and large spirits and mixers</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Bottles of Prosecco</strong>
						</div>
					</div>
				</div>
			</div>

{# 
			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Bottles of wine</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Los Romeros, Chardonnay</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Altoritas, Merlot</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Lavender Hill, White Zinfandel</strong>
						</div>
					</div>
				</div>
			</div> #}

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>BEER BUCKETS</h5>
					<p>10 bottles of the good stuff, chilled to perfection</p>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Peroni</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Corona</strong>
						</div>
					</div>
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Rekorderlig</strong>
						</div>
					</div> #}
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Selección</strong>
						</div>
						<p>Enjoy a mix of Peroni, Corona &amp; Pacifico</p>
					</div> #}
				</div>
			</div>

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>FIESTA PACKAGES</h5>
					<p>We’ve done the work so you don’t have to. Choose from one of our fantastic packages to kick start your night</p>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Carnival</strong>
						</div>
						<p>Choose a bottle of house spirit and we’ll serve it to your table, with mixers included. We’ll also include 12 of our famous Strawberry Margarita shots to get the fiesta started</p>
						<p><strong>Choose From:</strong> Ketel One | Salor Jerry | Beefeater | Havana Club 3 Year Old</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Full On Fiesta</strong>
						</div>
						<p>Make it a night to remember. Choose a premium bottle of spirit and one of our Cocktail Trees and we’ll serve it to your table along with 12 Strawberry Margarita shots</p>
						<p><strong>Choose from:</strong> Grey Goose | Ciroc | Havana Club 7 Year Old | Tanqueray | Slingsby Rhubarb | Patrón XO Café</p>
					</div>
					{# <div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>El Jeffe</strong>
						</div>
						<p>Be the boss and go grande! Choose either a magnum bottle of Grey Goose or two premium bottles, your favourite Cocktail Tree and also a Maximo Cocktail to set you up for the night. We’ll also include 12 shots of our Strawberry Margarita to make it a night to remember. Cocktail to set you up for the night</p>
					</div> #}
				</div>
			</div>

			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>WELCOME COCKTAILS</h5>
					<p>Start your fiesta with a bang. Choose a drinks reception ready for your arrival...<br><br><strong>Choose From:</strong></p>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Classic Mojito</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Strawberry Daiquiri</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Tanqueray No.Ten G&amp;T</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Pornstar Rumtini</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Glass of Prosecco</strong>
						</div>
					</div>
				</div>
			</div> #}
			
			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>Sharing Cocktails</h5>
					<p>Cocktail teapots inspired by the prohibition era when alcohol was banned in the US and Cuba became the party island. Rum and fruit cocktails served over ice in tin mugs, designed for four to share</p>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Raspberry Colada</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Navy Fruit Punch</strong>
						</div>
					</div>
				</div>
			</div> #}

			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>DRINKS for the AMIGOS</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Bebidas Voucher</strong>
						</div>
						<p>Swap for a bottle of Peroni, single house spirit, medium glass of wine or soft drink</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cocktail Voucher</strong>
						</div>
						<p>Choose from any cocktail, double house spirit and mixer, bottled or draught beer and cider, large glass of wine or soft drink</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cocktail Wristband</strong>
						</div>
						<p>Can’t decide? Swap the 3 tabs on your wristband for drinks at the bar! Wristbands include cocktails, bottled or draught beer and cider, large glasses of wine and large spirits and mixers</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Ultimate Cuban Pornstar</strong>
						</div>
						<p>A giant twist on a vodka classic. Bacardi Carta Blanca rum, passion fruit, vanilla and lime, served big at your table with a bottle of Freixenet Prosecco</p>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Totally Giant Tropical Punch</strong>
						</div>
						<p>An enormous pineapple punch. Havana Club Anêjo Especial rum, mixed with pineapple, lime and passion fruit, all topped with Ting</p>
					</div>
				</div>
			</div> #}

			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>SPARKLING &amp; CHAMPAGNE</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Freixenet Prosecco</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Veuve Clicquot Yellow Label</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Laurent-Perrier Rosé</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Dom Pérignon</strong>
						</div>
					</div>
				</div>
			</div> #}

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5>BOTTLE to TABLE</h5>
					<p style="text-align: center;">(For Groups of 4-6)</p>
					<p>A bottle of our house spirit served straight to your table with a choice of complimentary mixers</p>
				</div>
			</div>	

			<div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5 style="width: 100%; margin-bottom: 10px;">Choose from</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Ketel One Vodka</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Sailor Jerry Rum</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Beefeater Gin</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Havana Club 3 Year Old</strong>
						</div>
					</div>
				</div>
			</div>	

			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5 style="width: 100%; margin-bottom: 10px;">PREMIUM</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Grey Goose Vodka</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cîroc Vodka</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Havana Club 7 Year Old Rum</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Tanqueray Gin</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Slingsby Rhubarb Gin</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Patron Café XO Tequila</strong>
						</div>
					</div>
				</div>
			</div>	 #}

			{# <div class="christmas__menus__menu__section">
				<div class="christmas__menus__menu__section__title">
					<h5 style="width: 100%; margin-bottom: 10px;">GRANDE</h5>
				</div>
				<div class="christmas__menus__menu__section__container">
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Grey Goose Vodka - 1.75L Magnum</strong>
						</div>
					</div>
					<div class="christmas__menus__menu__section__option">
						<div class="product-menu-item__meta">
							<strong>Cîroc Vodka - 1.75L Magnum</strong>
						</div>
					</div>
				</div>
			</div>	 #}

		</div>
	</div>
</div>