<div class="bg--christmas-green--pattern christmas__menus__mobile">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text--center">
				<h3 class="christmas__menus__mobile__title color--white">
					Christmas
					<span class="color--christmas-red">Menu</span>
				</h3>
			</div>
		</div>

		<div class="christmas__menus__mobile__container">
			<div class="christmas__menus__mobile__section">
				<div class="christmas__menus__mobile__tab active" data-christmas-button='1'>
					<h4 class="christmas__menus__mobile__tab__title">Tapas feasting</h4>
					<div class="christmas__menus__mobile__tab__expand"></div>
				</div>

				{% include 'organisms/christmas-menu-tapas-mobile.twig' with {
					'id': 1,
					'title': 'Family-style dining for parties of 8 or more.',
					'active': true,
					'tabTitle': 'Tapas feasting'
				}%}
			</div>
			
			<div class="christmas__menus__mobile__section">
				<div class="christmas__menus__mobile__tab" data-christmas-button='2'>
					<h4 class="christmas__menus__mobile__tab__title">3 course dining</h4>
					<div class="christmas__menus__mobile__tab__expand"></div>
				</div>

				{% include 'organisms/christmas-menu-3course-mobile.twig' with {
					'id': 2,
					'title': '3 Course Dining',
					'active': false,
					'tabTitle': '3 Course Dining'
				}%}
			</div>
			
			<div class="christmas__menus__mobile__section">
				<div class="christmas__menus__mobile__tab" data-christmas-button='3'>
					<h4 class="christmas__menus__mobile__tab__title">Mostrador</h4>
					<div class="christmas__menus__mobile__tab__expand"></div>
				</div>

				{% include 'organisms/christmas-menu-mostrador-mobile.twig' with {
					'id': 3,
					'title': 'A selection of our favourite tapas dishes served atop our custom-made Mostrador. Suitable for groups of 10 or more',
					'active': false,
					'tabTitle': 'Mostrador'
				}%}
			</div>
			
			<div class="christmas__menus__mobile__section">
				<div class="christmas__menus__mobile__tab" data-christmas-button='4'>
					<h4 class="christmas__menus__mobile__tab__title">Drinks</h4>
					<div class="christmas__menus__mobile__tab__expand"></div>
				</div>

				{% include 'organisms/christmas-menu-drinks-mobile.twig' with {
					'id': 4,
					'title': 'Fiesta Drinks',
					'active': false,
					'tabTitle': 'Drinks'
				}%}
			</div>
		</div>

		<div class="christmas__menus__mobile__buttons">
			{% include 'atoms/button.twig' with {
				'type': 'regular',
				'text': 'Share Menu',
				'color': 'fuschia',
				'link_type' : 'share',
				'external_link' : '',
				'internal_link' : '',
				'file' : '',
			}%}
			{% include 'atoms/button.twig' with {
				'type': 'regular',
				'text': 'Download Menu',
				'color': 'skyblue',
				'link_type' : 'file',
				'external_link' : '',
				'internal_link' : '',
				'file' : '#',
			}%}
		</div>
		{% if post.post_type == 'page' %}
			<div class="christmas__menus__mobile__buttons christmas__menus__mobile__buttons--after">
				{% include 'atoms/button.twig' with {
					'type': 'underline',
					'text': 'Select Location to See Prices.',
					'color': 'orange',
					'classes': 'js-locations-toggle'
				}%}
			</div>
		{% endif %}
		<div class="christmas__menus__mobile__buttons christmas__menus__mobile__buttons--after">
			{% include 'atoms/button.twig' with {
				'type': 'underline',
				'text': 'Download Allergen Information',
				'color': 'orange',
				'link_type' : 'external',	
				'external_link' : '/food-allergen-information.pdf',
			}%}
		</div>
	</div>
</div>