<div class="js-modal rdc-fixr-modal" data-modal="rdc-fixr-modal">
	<div class="rdc-fixr-modal__container" data-info-container>
		<div class="rdc-fixr-modal__close"><span class="icon-close"></span></div>
		<script src="https://web-cdn.fixr.co/scripts/fixr-shop-widget.v1.min.js" data-fixr-shop-id="{{ fixr_id }}" data-fixr-theme="light"></script>
	</div>
</div>