<div class="rdc-modal">
	<div class="rdc-modal__main">
		<div class="rdc-modal__main__nav">
			<li><a href="#">Masterclass</a></li>
			<li><a href="#">Corporate events</a></li>
			<li><a href="#">Birthdays</a></li>
			<li><a href="#">Christmas</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Careers</a></li>
		</div>
		<div class="rdc-modal__main__venues">
			<h3>Our Venues</h3>
			<div class="rdc-modal__main__venues--container">
				<ul>
					<li><a href="#">Aberdeen</a></li>
					<li><a href="#">Belfast</a></li>
					<li><a href="#">Cardiff</a></li>
					<li><a href="#">Derby</a></li>
					<li><a href="#">Glasgow</a></li>
					<li><a href="#">Harrogate</a></li>
					<li><a href="#">Leeds</a></li>
					<li><a href="#">Liverpool</a></li>
					<li><a href="#">Manchester</a></li>
					<li><a href="#">Milton Keynes</a></li>
					<li><a href="#">Norwich</a></li>
					<li><a href="#">Nottingham</a></li>
					<li><a href="#">Reading</a></li>
					<li><a href="#">Sheffield</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="rdc-modal__social">
		<ul>
			<li>
				<a href="#">
					{% include 'svg/social/facebook.svg' %}
				</a>
			</li>
			<li>
				<a href="#">
					{% include 'svg/social/instagram.svg' %}
				</a>
			</li>
			<li>
				<a href="#">
					{% include 'svg/social/twitter.svg' %}
				</a>
			</li>
			<li>
				<a href="#">
					{% include 'svg/social/youtube.svg' %}
				</a>
			</li>
		</ul>
	</div>

	<div class="rdc-modal__background"></div>
</div>