{% if post.bar_360_code %}
<div class="js-modal modal360" data-modal="modal360">
	<div class="modal360__container">
		<div class="modal360__main">

			{{post.bar_360_code}}

		</div>

	</div>
</div>
{% endif %}