<div class="field field--checkbox">
	<span class="field__element-wrap">
		<input class="field__element" type="checkbox" id="{{name}}" name="{{name}}">
		<label class="field__sub-label" for="{{name}}">{{text}}</label>
	</span>
</div>