<div class="event-date"	{{attr}}>
	<div class="event-date__date">{{date}}</div>
	<div class="event-date__info">
		<div class="event-date__info__day">{{day}}</div>
		<div class="event-date__info__event">{{event}}</div>
	</div>
</div>