<div class="article-offer">
	<div class="article-offer__container" style="background-image:url({{background}});">
		<img class="article-offer__foreground" src="{{foreground.url}}" alt="{{foreground.alt}}">

		{% include 'atoms/button.twig' with {
			'type': button.type,
			'text': button.text,
			'color': button.color,
			'link_type' : button.link_type,
			'internal_link': button.internal_link
		}%}
	</div>
</div>